@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

body {
    background-image: url(Web\ Background.jpg);
}

h1{
    background-color: #DBD0C0; 
    text-align: center; 
    font-size:xx-large;
}
.about1 {
    background-color: #DBD0C0;
    font-size: 30px;
    font-style: italic;
}
button{
    text-align: center; 
    background-color: #DBD0C0;
    font-size: 24px;
    padding: 12px 28px;
   
}

.mainpx{
    float: right;
}

.intro{
    background-color: #DBD0C0;
    font-size: 70px;
    font-style: italic;
    
}

.ppp2 {
    float: left;
}

.intro2 {
    background-color: #DBD0C0;
    font-size: 70px;
    font-style: italic;
}

table {
    color: blueviolet;
    background-color: #DBD0C0;
    font-size: x-large;
}
footer {
    color: chocolate;
    border: 1px solid brown
}